$main-color: #2B2B51;
$white: #ffffff;

$primary-navy-blue: #0073F1;

$slider-yellow: #FFF8CC;
$slider-coral: #FFE9E9;
$slider-green: #D9F4F2;
$slider-blue: #E1EAF7;
$slider-gray: #F3EFF7;
$slider-salad: #EEF8E4;
