$main-color: #2B2B51;
$white: #ffffff;

$primary-navy-blue: #0073F1;
$gray: #F7F7F7;

$slider-yellow: #FFF8CC;
$slider-marker-yellow: #F2C94C;
$slider-coral: #FFE9E9;
$slider-marker-coral: #FF7777;
$slider-green: #D9F4F2;
$slider-marker-green: #71D0BA;
$slider-blue: #E1EAF7;
$slider-marker-blue: #81B1D9;
$slider-purple: #F3EFF7;
$slider-marker-purple: #A57FD3;
$slider-salad: #EEF8E4;
$slider-marker-salad: #71D0BA;
