@import "styles/index";

.currencies {
  display: flex;
  max-height: 440px;
  overflow: hidden;
  transition: 2s ease;
  border: 1px solid $gray;
  &_open {
    max-height: 700px;
  }

  &__left {
    padding: 120px 78px;
    width: 384px;
    background-color: $gray;
    box-sizing: border-box;
    @media (max-width: $lg) {
      width: 301px;
      padding: 120px 40px;
    }
  }

  &__right {
    position: relative;
    padding: 80px 0px 30px 126px;
    flex-grow: 1;
    @media (max-width: $lg) {
      padding: 80px 0px 30px 64px;
    }
  }

  &__title {
    font-size: 36px;
    line-height: 40px;
    color: $main-color;
  }

  &__time {
    margin-top: 10px;
    font-size: 10px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &__flag {
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
  &__arrow-dynamics {
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__button {
    margin-top: 90px;
  }

  &__table {
    &-row {
      display: flex;
    }

    &-cell {
      position: relative;
      width: 33%;
      padding: 20px 20px;
      font-size: 24px;
      line-height: 30px;
      text-transform: uppercase;
      box-sizing: border-box;
    }

    &-th {
      color: $primary-navy-blue;
      font-size: 10px;
      line-height: 18px;
      text-transform: uppercase;
    }
  }

  &__expand {
    background-color: $white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 35px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &-text {
      margin-left: 24px;
      font-size: 10px;
      line-height: 18px;
      color: $primary-navy-blue;
      letter-spacing: 1px;
    }
  }
}