@import "styles/index";

.reasons {
  &__title {
    margin: 0;
    font-size: 36px;
    line-height: 40px;
    color: $main-color;
  }

  &__img {
    width: 100%;
    display: block;
    @media (max-width: $xl) {
      display: none;
    }

    &_lg {
      display: none;
      @media (max-width: $xl) and (min-width: $lg + 1){
        width: 100%;
        display: block;
        margin: 40px auto 0;
      }
    }
  }
  &__mobile {
    margin-top: 40px;
    display: none;
    @media (max-width: $lg) {
      display: block;
    }
  }
}