@import "styles/index";

.slider {
  position: relative;
  height: 100px;
  &__item {
    height: 100%;
  }
  &__bullet {
    padding: 0 20px;
    margin: 0 12px;
    width: 140px;
    height: 60px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;


    background-color: $gray;
    font-size: 11px;
    line-height: 144%;
    text-align: center;
    color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &_wrapper {
      margin-left: -12px;
      margin-right: -12px;
      position: absolute;
      top: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
  &_bgc {
    &_yellow {
      background-color: $slider-yellow;
    }

    &_coral {
      background-color: $slider-coral;
    }

    &_green {
      background-color: $slider-green;
    }

    &_blue {
      background-color: $slider-blue;
    }

    &_gray {
      background-color: $slider-gray;
    }

    &_salad {
      background-color: $slider-salad;
    }
  }
}